<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>

  <context-param>
    <param-name>jakarta.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>messages</param-value>
  </context-param>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.jobhub.jobhub.servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.jobhub.jobhub.servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegisterPage</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterPage</servlet-name>
    <jsp-file>/register.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>DashboardPage</servlet-name>
    <jsp-file>/dashboard.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>DashboardPage</servlet-name>
    <url-pattern>/overview</url-pattern>
  </servlet-mapping>
</web-app>
